

#burger-menu__container {
    display: none;
}

#burger-menu__checkbox {
    display: none;
    /* position: absolute; */
}

#burger-menu__nav {
    display: none;
}

@media (orientation:portrait) {
    * {
        font-size: 1.1rem;
    }
    /* @media (min-width: 320px) and (max-width: 900px) { */
    .z_ind5 {
        display: none;
    }

    #right {
        display: none;
    }

    #burger-menu__container {
        position: absolute;
        right: 0;
        top: 0;
        height: 54px;
        width: 54px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #burger-menu__button {
        cursor: pointer;
        height: 54px;
        width: 54px;
        font-size: 32px;
        background: url(icons/menu.png) no-repeat center;
        background-size: 70%;
        transition: .15s;
    }

    #burger-menu__button label {
        /* background: red; */
        cursor: pointer;
        position: relative;
        display: block;
        height: 100%;
        width: 100%;
    }

    #burger-menu__checkbox:checked ~ #burger-menu__container > #burger-menu__button {
        background: url(icons/close.png) no-repeat center;
        background-size: 70%;
        transform: rotate(90deg);
    }

    #burger-menu__nav {
        /* position: relative; */
        margin-top: 54px;
        padding-top: 128px;
        width: 100%;
        height: 100%;
        background: #fefefe;
        /* right: 8px; */
        transition: .3s;
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

    #burger-menu__nav > div {
        transform: scale(1.4);
    }


    body {
        width: 100%;
        background: red;
    }

    #header {
        position: relative;
        margin: 0;

        min-width: auto;
        max-width: auto;
        width: 100.5vw;
        transition: .3s;
        overflow: hidden !important;
    }

    #header:has(#burger-menu__checkbox:checked) {
        height: 500px;
        overflow: hidden;
    }

    #headdown {
        min-width: auto;
        max-width: auto;
        width: 100%;
    }

    #block {
       min-width: auto;
       max-width: auto;
       width: 100%;
       overflow: hidden;
    }

    #average {
       min-width: auto;
       max-width: auto;
       width: 100%;
       margin: 0;
       padding: 0;
    }

    #site {
        height: auto;
    }

    .t_faq {
        width: auto;
    }

    .t_faq tr {
        display: flex;
        flex-direction: column;
    }

    .t_faq tr th {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.2rem;
    }

    .t_faq_cl {
        font-size: 1.1rem !important;
    }

    .r-c {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .lefti {
        margin: 0 !important;
    }

    .r-c h2 {
        margin: 0 !important;
    }

    #reklama {
        margin: 0 !important;
        padding: 0 !important;
    }

    #reklama img {
        width: 100%;
    }

    #average h6 {
        height: auto;
    }


    #average p.small2 {
        margin: 0 !important;
        padding: 8px !important;
    }

    #footer {
        min-width: auto;
        max-width: auto;
        width: 100%;
        height: 180px !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
        padding: 16px;
        box-sizing: border-box;
    }

    #menu2 {
        position: relative;
        width: 100%;
        margin: 0;
    }

    #menu3 img {
        float: none;
        margin: 0 !important;
        padding: 0 !important;
        position: none;
        bottom: 0;
    }


}